<div class="side-nav pull-left">
  <h4>Main page</h4>
    <a href="/users/<%= @user.id %>"><p class="text-center"><%= @user.first_name %></p></a>
  <h5>Your Connections</h5>
  <ul>
    <% @user.connections.each do |connection| %>
      <li>
        <a href="/users/<%= User.find(connection.user_id).id %>"><%= User.find(connection.user_id).first_name %></a>
      </li>
    <% end %>
  </ul>
</div>

<div class="main-content pull-right">
  <div class="container">
  <form action="/category/<%= @category.id %>/document/new" method="post" enctype="multipart/form-data">
    <input type="file" name="files[]" multiple required>
    <button class="btn waves-effect waves-light" type="submit" name="action">Add file
    </button>
  </form>

  
<div class="documents"> 
  <% @category.documents && @category.documents.each do |doc| %>
    <div class="file col-sm-3">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span><br>

      <a href="<%= doc.file.url %>"><%= doc.file %></a>
      
    </div>
    <% end %>
  </div>
  </div>
</div>  