
<div class="container">
  <div class="side-nav pull-left">
    <h4>My Account</h4>
      <a href="/users/<%= @user.id %>"><p class=><%= @user.first_name %></p></a>
    <h5>Your Connections</h5>
    <ul>
      <% @user.connections.each do |connection| %>
        <li>
          <a href="/users/<%= User.find(connection.user_id).id %>"><%= User.find(connection.user_id).first_name %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="main-content pull-right">
    <div class="container">
    <form action="/category/<%= @category.id %>/document/new" method="post" enctype="multipart/form-data" class="add-file">Step 1: Choose a file
    <br>
      <input type="file" name="files[]" multiple required>
      <br>
      Step 2: Add this file 
      <br>
      <button class="btn btn-success" type="submit" name="action">Add file
      </button>
    </form>

<!-- btn waves-effect waves-light -->
    
  <div class="documents"> 
    <% @category.documents && @category.documents.each do |doc| %>
   <% name, type = doc.file.url.match(/\/\w+\/(\w+)(?:\.(\w+))?/).captures %>
     <div class="file col-sm-4">
       <% if type == 'jpg' %>
         <img src="../images/JPEG-icon.png" aria-hidden="true"/>
       <% elsif type == 'pdf' %>
         <img src="../images/PDF-icon.png" />
         <% else %>
         <img src="../images/doc-icon.png" />
       <% end %><br>
       <a href="<%= doc.file.url %>"><%= name %></a>
    <form class="delete-button" onsubmit="return confirm('Confirm file delete?')" action="/document/<%= doc.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    </form>
     </div>
     <% end %>
    </div>
  </div>
</div>  