<%= erb :_sidebar %>

<div class="main-content pull-right">
    <% if @user.id == @category.user_id %>
      <div class="container">
      <form action="/category/<%= @category.id %>/document/new" method="post" enctype="multipart/form-data" class="add-file">Step 1: Choose a file
      <br>
        <input type="file" name="files[]" multiple required>
        <br>
        Step 2: Add this file 
        <br>
        <button class="btn btn-success" type="submit" name="action">Add file
        </button>
      </form>
    <% end %>  
    
  <div class="documents"> 
    <% @category.documents && @category.documents.each do |doc| %>
   <% name, type = doc.file.url.match(/\/\w+\/(\w+)(?:\.(\w+))?/).captures %>
     <div class="file col-sm-4">
       <% if type == 'jpg' %>
         <img src="../images/JPEG-icon.png" aria-hidden="true"/>
       <% elsif type == 'pdf' %>
         <img src="../images/PDF-icon.png" />
         <% else %>
         <img src="../images/doc-icon.png" />
       <% end %><br>
       <a href="<%= doc.file.url %>"><%= name %></a>
       <% if @user.id == @category.user_id %>
    <form class="delete-button" onsubmit="return confirm('Confirm file delete?')" action="/document/<%= doc.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    </form>
    <% end %>
     </div>
     <% end %>
    </div>
  </div>
</div>  