<%= erb :_sidebar %>

<div class="main-content">

<% if @user.id == @the_user.id %>
  <h1>My Categories</h1>
  <% @user.categories.each do |category| %>
        <div class="container category-container">
        <div class="row">
        <a class="category-name" href="/category/<%= category.id %>">
             <div class="btn btn-primary btn-lg btn-block col-sm-2">
              <h2 class="text-uppercase"><%= category.name %></h2>
             </div>
           </a>
          </div>
          <div class="row">
                <div class="col-sm-8">
                  <form class="form-inline" action="/shares/<%= category.id %>/create" method="POST">
                    <button type="submit" class="btn btn-lg btn-info">Share</button>
                    <input type="email" name="email" class="form-control" placeholder="user@email.com" aria-describedby="basic-addon1">
                  </form>
                </div>
              <div class="col-sm-3">
               <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  See connections <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <% shares = Share.where(category_id: category.id) %>
                <% if shares.length > 0 %>
                  <% shares.each do |share| %>
                          <li>
                            <%= share.user.email %>
                            <form class="pull-right" method="post" action="/shares/<%= share.id %>">
                              <input type="hidden" name="_method" value="DELETE" />
                              <button class="btn">Delete</button>
                           </form>
                          </li>    
                  <% end %>
                <% else %>
                  <li>No connections yet.</li>
                <% end %>
                </ul>
                </div>
              </div>
                <div class=".col-sm-2">
                <form class="delete-button" onsubmit="return confirm('Confirm category delete?')" action="/category/<%=category.id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-lg btn-danger">Delete</button>
              </form>
          </div>
        </div>
      </div> 
    <% end %>



  
<% else %>
  <div class="container">
    <h1><%= @the_user.first_name %>'s shared categories</h1>
    <% @shares.each do |share| %>
      <div><a href="/category/<%= share.category.id %>"><%= share.category.name %></a></div>
    <% end %>  
  </div>
<% end %>

</div>

<div class="container">
        <div class="new-cat">
            <div class="row">
                <div class="col-md-12">
                    <form action="/category/create" method="POST">
                      <label for="NewCategory"><p class="cat-heading">New Category</p></label>
                      <input type="text" class="form-control" name="name" id="CategoryName" placeholder="Name">
                      <button type="submit" class="btn btn-success">New Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>