<p><a href="/">Return to files</a></p>

<h1><%= @user.first_name %></h1>

<% @user.categories.each do |category| %>
	<div class="category-container container">
		<div class="row">
			<div class = "col-sm-4">
				<a href = "/category/<%= category.id %>"><%= category.name %></a>
			</div>
			<div class = "delete-button">
		 			<form class = "delete-button" onsubmit="return confirm('Confirm category delete?')"action="/category/<%= 	category.id %>" method="POST">
		  			<input type="hidden" name="_method" value="DELETE">
		    		<button type="submit" class="btn btn-sm btn-danger">Delete </button>
		  		</form>	  	</div>
		</div> 
	</div>	
<% end %>


<form action="/category/create" method="POST">
  <div class="form-group">
    <label for="NewCategory"> New Category </label>
    <input type="text" class="form-control" name="name" id="CategoryName" placeholder="Name">
  </div>
  <button type="submit" class="btn btn-default">New Category</button>
</form>

<% @user.shares.each do |share| %>
  <div><a href="/users/<%= User.find(share.category.user_id) %>"><%= User.find(share.category.user_id).first_name %></a></div>
<% end %>


 